body {
    color: black;               
    background-color:mintcream;
    font-size: 18px;
    font-weight: normal;  

}


nav{
    text-align: center;
}

nav li {
    display: inline-block;
    list-style-type: none;
    color: black;
    margin: 10px;
    text-align: center;

}
nav li a {
    text-align: center;
    color: black;
    text-decoration: none;
}

ul li {
    list-style-type: disc;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica", "Arial", sans-serif;
}
h1{
    font-size: 2em;
}
  
h2 {
    font-size: 1.6em;
}
p {

}
ul {
    list-style-type: circle;
}

img.resume {
    width:540px;
    height:auto;
}

.row{

}

.col {
    margin: 5%;
    width: 39%;
    background-color: slategray;
    float: left;
    padding: 3px;
}